a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: grey;
}

a:active {
    text-decoration: grey;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: Arial-Black, sans-serif;
	font-size: 1em
}

#navcontainer {
	font-size: 0.8em;
}

span.left {
	float: left;
	display: block;
	width: 50%;
	padding-left: 20px;
  font-family: Arial Black, sans-serif;
  font-color: white;
	font-size: 3.2em;
}

span.right {
	float: right;
	display: block;
	width: 45%;
	text-align: right;
  font-color: white;
  font-family: Arial, sans-serif;
	font-size: 1.1em;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
	display: inline;
}

#writing {
   
  padding-left: 20px;
  font-size: 15px;
  font-family: arial-black, sans serif;
}

#examples {
  padding-left: 400px;
   
  
}
